* {
    box-sizing: border-box;
}

:root {
    /* color variables */
    --primary: #262626;
    --secondary: #2F3F77;
    --deactivated: #94A7CE;

    /* style variables */
    --bg-gradient: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(209, 241, 239, 1) 0%, rgba(173, 175, 199, 1) 100%);
}

/* text styles */

h1 {
    font-family: Inter, Helvetica, sans-serif;
    font-size: 1.125rem;
    font-weight: normal;
    color: var(--primary);
}

p {
    font-family: Inter, Helvetica, sans-serif;
    color: var(--primary);
}

/* body background */

body {
    background: var(--bg-gradient);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

/* footer */

footer {
    text-align: center;
    padding: 1rem;
}

footer p {
    color: var(--secondary);
    font-style: italic;
}


/* DO NOT CHANGE UP HERE */
/* CORE STYLEINGS */
/* CAN EFFECT OTHER PAGES */


/* container style */

.glass {
    border: 1px var(--gradient-glass-stroke, rgba(255, 255, 255, 0.50));
    background: var(--gradient-glass, linear-gradient(140deg, rgba(255, 255, 255, 0.50) -3.66%, rgba(255, 255, 255, 0.10) 108.42%));

    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(10px);
}



/* header - nav bar */

.menu-bar {
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    align-items: center;
}


.icon-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}


.icon-svg {
    width: 2rem;
    color: #262626;
}

.icon-menu {
    margin-left: 1rem;
}

.icon-feed {
    margin-right: 0.4rem;
}

.menu-list-desktop {
    display: none;
    padding: 0.3rem;
    height: 3rem;
}

.menu-list-desktop .nav-item {
    padding: 2rem;
}

.menu-list-desktop a,
.menu-list-mobile a {
    color: var(--secondary);
    font-family: Inter;
    font-size: 1.25rem;
    text-decoration-line: none;
}

.menu-list-desktop .nav-current a {
    color: var(--primary);
}

.menu-list-mobile {
    width: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.menu-list-mobile-pin {
    width: 2rem;
}

.dropdown-content {
    display: none;
}


/* Only using ID for presenting the hamburger feature */
#mobileNavDropdown:target {
    display: block;
}


/* home feed */

.outfit-list {
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}

/* Card components */

.card {
    max-width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem auto;
}

.card-header {
    margin-bottom: 0.5rem;
}

.card-header h1 {
    color: var(--secondary);
}

.card-content {
    padding: 1rem;
    border-radius: 12px;
    width: 80vw;
    height: 90vw;
    max-width: 500px;
    max-height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-img {
    width: 100%;
    background: #FFF;
    border-radius: 8px;
    overflow: hidden;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Icon styling */

.layer-icon {
    position: fixed;
    bottom: 1.7rem;
    right: 1rem;
    z-index: 1000;

}

/* Calender compoments */

.calendar-container {
    display: grid;
    place-items: center;
    height: 80vh;
    width: auto;

}

.calendar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.calender-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.calender-month-arrow {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.stamp-box {
    height: 1.5rem;
}

.calendar-day {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: inline-flex;

}

.calendar-week,
.calendar-dayofweek {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-week {
    grid-auto-rows: 5rem;
    text-align: right;
}

.calendar-dayofweek {
    grid-auto-rows: 3rem;
    color: var(--secondary);
    align-items: center;
    text-align: center;
}

.stamp-box {
    display: flex;
    align-items: center;
    justify-content: center;

}




@media (min-width: 598px) {

    .icon-group {
        display: none;
    }

    .menu-list-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        padding: 1rem;
    }

    .calendar {
        width: 70vw;
        height: 80vh;
        max-width: 800px;
        max-height: 600px;
    }

    /* Only using ID for presenting the hamburger feature */
    #mobileNavDropdown:target {
        display: none;
    }

}